<h2 class="page-header">Add Shift Type</h2>
{{#if errors}}
      {{#each errors}}
        <div class="alert alert-danger">{{msg}}</div>
      {{/each}}
{{/if}}
<div class="row">
<div class="col s12">
<div class ="rolesection">  
<form method="POST" action="/departments/addshift">
   <div class="form-group">
    <label>Shift Name</label>
    <input type="text" class="form-control" placeholder="Shift Name" name="shift_name">
  </div>
  <div class="form-group">
    <label>Time start</label>   
    <input  class="timepicker" type="time" name="shift_time_start">
  </div>
   <div class="form-group">
    <label>Time end</label>   
    <input  class="timepicker" type="time" name="shift_time_end">
  </div>
   <div class="form-group">
      <label class ="onoffbtn">
        <input class="with-gap" name="shift_active" type="radio"  />
        <span>Active</span>
      </label>
  </div>

   <button type="submit" class="btn btn-default">Submit</button>
</form>
</div>
</div>
</div>
