<div class="row">
<div class="col s12">
<div class="glassy-bg">
 <form method="post" action="/users/configuration/{{configuration._id}}">
   <div class="form-group">
    <label>configuration</label>
    <input type="text" class="form-control" value = "{{configuration.configuration}}" name="configuration">
  </div>
  <button type="submit" class="btn btn-default">Update</button>
</form>
</div>
</div>
</div>

