<div class="row">
<a href ="/users/role" class ="btn btn-default" >Add Role</a>
<div class="col s12">
<div class="manage-role">

<table id="example" class="mdl-data-table" width="100%" cellspacing="0">
    <thead>
        <tr>
            <th>Name</th>
            <th>Actions</th>
           
        </tr>
    </thead>

    <tbody>
   {{#each roles}}
        <tr>
            <td>{{rolename}}</td>
            <td><a  href="/users/role/{{_id}}/edit" class="waves-effect waves-light btn btn-small blue"><i class="material-icons left">edit</i>Edit</a>
 <a  href="/users/role/{{_id}}/delete" class="waves-effect waves-light btn btn-small red"><i class="material-icons left">delete</i>Delete</a>

</td>         
        </tr>
{{/each}} 
              
    </tbody>
</table>

</div>
</div>
</div>

