<h2 class="page-header center-align">Account Login</h2>

<div class="glassy-bg small-page">
 <form class="col s12" method="post" action="/users/login">      

            <div class='row'>
              <div class='input-field col s12'>
                <input class='form-control' type='text' name='username' id='username'placeholder="Username" />
                <label for='username'>Enter your Username</label>
              </div>

              <div class='input-field col s12'>
                <input class='form-control' type='password' name='password' id='password'placeholder="Password" />
                <label for='password'>Enter your password</label>
              </div>  

            <center>              
                <button type='submit' name='btn_login' class="btn btn-large waves-effect">Login</button>
             
            </center>
            </div>
          </form>
</div>
 


